body {
    background-color: rgb(11, 103, 223);
}

div {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    color: white;
}